<div class="container-fluid" (mousemove)='getCords($event)'>
  <div class="row">
    <div class="col-md-12">
      <div class="test-wrapper">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="team-container">
          <ul class="team-grid">
            <li class="team-member col-md-1 col-sm-2 col-xs-3" *ngFor='let member of teamArray; let i = index'>
              <figure #figure class="eye" [ngStyle]="{'background-position':member?.background}" (click)="onclickImage(i, figure)"></figure>
              <strong class="tooltip-title">{{member?.name}}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="test-wrapper">

      </div>
    </div>
  </div>
</div>
